<div class="center tc vh-50 flex flex-column justify-center">
  <p>We have received your call back request. One of our parenting practitioners will be in touch on the next working day to confirm when you can expect your phone call.</p>
  <p>Whilst you are waiting to speak to one of our parenting practitioners, you can get general parenting advice on our parenting tips section of the website.</p>
  <p>If you have immediate concerns about your child's health, please call NHS Direct on 111.</p>
  <p>Thanks, <br />Action for Children Parenting Practitioners</p>
</div>
