<div class="w-100 bg-dark-red">
  <div class="flex center mw8">
    <div class="w-50 pa4">
      <h1 class="white">Request a new code</h1>
    </div>
  </div>
</div>

<div class="flex center mw8">
  <div class="w-50 pa4">
    <p class="lh-copy"></p>
  </div>
</div>
