<div class="w-100 bg-blue">
  <div class="flex center mw8 justify-center justify-start-ns">
    <div class="w-50-ns pv4 ph3 ph4-ns tc tl-ns">
      <h1 class="white fw5 f1-ns f3">Please check your email, we've sent you a verification link</h1>
    </div>
  </div>
</div>

