body {
  margin: 0;
  font-family: var(--sans-serif);
}

.pointer {
  cursor: pointer;
}

.t3 {
  transition-duration: 0.3s;
}

.all {
  transition-property: all;
}

.ease {
  transition-timing-function: ease;
}

textarea {
  resize: none;
}
